<% provide(:title, t('header.home')) %>
<div class="container text-center">
  <div class="row">
    <%= render 'static_pages/carousel' %>
    <hr>
    <div class="row" id="products">
      <%= render @products || t('product.product_not_found') %>
    </div>
    <div class="row" id="paginator">
      <%= paginate @products, theme: 'twitter-bootstrap-3', remote: true %>
    </div>
  </div>
</div>
