$('.cart').html('<%= j render 'carts/cart_text' %>');
$('.destroy-product').bind('ajax:success', function() {
  $(this).closest('tr').fadeOut();
});
$('.total_price').html('<%= t('cart.total') %> <span><strong><%= number_to_currency(@cart[:total]) %></strong></span>')
$('#ajax-cart-row').html('<%= j render partial: 'carts/cart_row',
                                       collection: @products_in_cart,
                                       as: 'product' || t('cart.cart_is_empty') %>')
