$('#product_item_<%= params[:product_id] %>').closest('tr').find('.sub_total').html('<%= number_to_currency(@subtotal) %>')
$('.total_price').html('<%= t('cart.total') %> <span><strong><%= number_to_currency(@cart[:total]) %></strong></span>')
