<tr>
  <td><%= od_details.product.name %></td>
  <td><%= od_details.quantity %></td>
  <td><%= number_to_currency(od_details.price) %></td>
  <td><%= number_to_currency(od_details.subtotal) %></td>
</tr>
