<p><%= @resource.email %></p>
<p><%= t('user.change_password') %></p>
<p><%= link_to t('user.password_change_link'), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t('user.password_change_content') %></p>
